@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:wght@500;600;1000&family=Roboto:wght@300;500;900&display=swap");

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #fff !important;
}